@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  font-size: 62, 5%;
}

body {
  background: #1f242d;
}

.grilla {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "header header header header" "main main main main" "footer footer footer footer";
  height: 100vh;
}

a.rectangular {
  border-radius: 10%;
}

a.ovalado {
  border-radius: 30%;
}

a.circular {
  border-radius: 50%;
}

.grilla .mainServicios .seccionServicios .contenedorServicios .cajaServicios .boton {
  display: inline-block;
  padding: 3% 6%;
  background: #0ef;
  color: #1f242d;
  border-radius: 40px;
  box-shadow: 0 0 10px #0ef;
  font-size: 1.3rem;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 1px;
  border: none;
}
.grilla .mainServicios .seccionServicios .contenedorServicios .cajaServicios .boton:hover {
  background: #0ef;
  color: #1f242d;
  border: none;
}

.grilla .mainProyectos .seccionProyectoTexto .card .cardInfo h1,
.grilla .mainProyectos .seccionProyectoTexto .card .cardInfo h2,
.grilla .mainProyectos .seccionProyectoTexto .card .cardInfo h3,
.grilla .mainProyectos .seccionProyectoTexto .card .cardInfo h4,
.grilla .mainProyectos .seccionProyectoTexto .card .cardInfo h5,
.grilla .mainProyectos .seccionProyectoTexto .card .cardInfo h6 {
  color: #1f242d;
  font-size: 1.7rem;
  font-weight: 600;
}

.grilla header {
  grid-area: header;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4% 8.5%;
  min-height: 170px;
}
.grilla header .navbar {
  width: 100%;
}
.grilla header .navbar .container {
  max-width: 100%;
  margin: 0;
  width: 100%;
  padding: 0%;
}
.grilla header .navbar .container .logo {
  font-size: 25px;
  font-weight: 500;
  color: #fff;
}
.grilla header .navbar .container .botonMenu {
  border: none;
  padding: 0;
}
.grilla header .navbar .container .botonMenu:focus {
  box-shadow: none;
}
.grilla header .navbar .container .botonMenu .menuBurguer {
  background-image: url(../img/hamburger-menu-svgrepo-com.svg);
}
.grilla header .navbar .container .menu {
  flex-grow: 0;
}
.grilla header .navbar .container .menu ul {
  display: flex;
  align-items: center;
  column-gap: 20px;
}
.grilla header .navbar .container .menu ul li a {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  transition: 0.3s;
}
.grilla header .navbar .container .menu ul li a:hover {
  color: #0ef;
}

.grilla .main-index {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: main;
  opacity: 0; /* Para que inicialmente sea invisible */
  transform: translateY(20px); /* Desplazamiento inicial hacia abajo */
  animation: fadeInUp 1s ease-out forwards; /* Aplicar animación */
}
@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.grilla .main-index .seccionInicioTexto {
  color: #fff;
  width: 100%;
  padding: 0 4% 0 10%;
}
.grilla .main-index .seccionInicioTexto .inicioContenedor {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  width: 100%;
}
.grilla .main-index .seccionInicioTexto .inicioContenedor .inicioTexto {
  width: 100%;
}
.grilla .main-index .seccionInicioTexto .inicioContenedor .inicioTexto h1 {
  font-size: 3.2rem;
  font-weight: 700;
}
.grilla .main-index .seccionInicioTexto .inicioContenedor .inicioTexto h2 {
  font-size: 3rem;
  font-weight: 700;
  margin: 1% 0 1% 0;
}
.grilla .main-index .seccionInicioTexto .inicioContenedor .inicioTexto h3 {
  font-size: 3.2rem;
  font-weight: 700;
}
.grilla .main-index .seccionInicioTexto .inicioContenedor .inicioTexto h3 span {
  color: #0ef;
}
.grilla .main-index .seccionInicioTexto .inicioContenedor .inicioTexto p {
  margin: 3% 0 3% 0;
  font-size: 1.3rem;
}
.grilla .main-index .seccionInicioTexto .inicioContenedor .inicioTexto div .botonCV {
  display: inline-block;
  padding: 18px 28px;
  background: #0ef;
  color: #1f242d;
  border-radius: 40px;
  box-shadow: 0 0 10px #0ef;
  font-size: 18px;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
  border: none;
}
.grilla .main-index .seccionInicioTexto .inicioContenedor .inicioTexto div .botonCV:hover {
  background: #0ef;
  color: #1f242d;
  border: none;
}
.grilla .main-index .seccionInicioTexto .inicioContenedor .imgPrincipal {
  display: flex;
  justify-content: center;
}
.grilla .main-index .seccionInicioTexto .inicioContenedor .imgPrincipal img {
  width: 22vw;
}

.grilla .mainAcercaDe {
  grid-area: main;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  padding-top: 2%;
}
.grilla .mainAcercaDe .contenedorGrillaAcerca {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  height: 100%;
  width: 100%;
  row-gap: 10%;
}
.grilla .mainAcercaDe .contenedorGrillaAcerca .seccionInfoPersonal {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  color: #fff;
  justify-items: center;
  align-content: center;
  padding: 0 10.5% 0 10.5%;
}
.grilla .mainAcercaDe .contenedorGrillaAcerca .seccionInfoPersonal .acercaDeTexto {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.grilla .mainAcercaDe .contenedorGrillaAcerca .seccionInfoPersonal .acercaDeTexto h1 {
  font-size: 2rem;
  font-weight: 600;
  color: #0ef;
}
.grilla .mainAcercaDe .contenedorGrillaAcerca .seccionInfoPersonal .acercaDeTexto p {
  font-size: 1.3rem;
  font-weight: 500;
  margin: 0;
}
.grilla .mainAcercaDe .contenedorGrillaAcerca .seccionInfoPersonal .contenedorImg {
  display: flex;
  align-items: center;
  padding-left: 20%;
}
.grilla .mainAcercaDe .contenedorGrillaAcerca .seccionInfoPersonal .contenedorImg img {
  width: 22em;
  border-radius: 15%;
  box-shadow: 0 0 20px #fff;
}
.grilla .mainAcercaDe .contenedorGrillaAcerca .seccionAcercaHerramientas {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  color: #fff;
  justify-items: center;
  align-content: center;
  padding: 0 6% 0 6%;
}
.grilla .mainAcercaDe .contenedorGrillaAcerca .seccionAcercaHerramientas .acercadeHerramientas {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 90%;
}
.grilla .mainAcercaDe .contenedorGrillaAcerca .seccionAcercaHerramientas .acercadeHerramientas h2 {
  font-size: 2rem;
  font-weight: 600;
  color: #0ef;
}
.grilla .mainAcercaDe .contenedorGrillaAcerca .seccionAcercaHerramientas .acercadeHerramientas p {
  font-size: 1.3rem;
  font-weight: 500;
  margin: 0;
}
.grilla .mainAcercaDe .contenedorGrillaAcerca .seccionAcercaHerramientas .contenedorHerramientas {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 90%;
  padding-top: 1%;
}
.grilla .mainAcercaDe .contenedorGrillaAcerca .seccionAcercaHerramientas .contenedorHerramientas .divBoton .botonDesplegable {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0ef;
  color: #1f242d;
  font-weight: 600;
}
.grilla .mainAcercaDe .contenedorGrillaAcerca .seccionAcercaHerramientas .contenedorHerramientas .divBoton .botonDesplegable .iconoBoton {
  margin-right: 10px;
  font-weight: 600;
}
.grilla .mainAcercaDe .contenedorGrillaAcerca .seccionAcercaHerramientas .contenedorHerramientas .contenedorCards .cards {
  display: flex;
  flex-direction: row;
  color: #fff;
  background-color: transparent;
  border: none;
  font-size: 4rem;
  column-gap: 1%;
}

.grilla .mainProyectos {
  grid-area: main;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}
.grilla .mainProyectos .seccionProyectoTexto {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  width: 100%;
  height: 100%;
  justify-items: center;
  row-gap: 5%;
  padding: 0 6% 0 6%;
}
.grilla .mainProyectos .seccionProyectoTexto .card {
  width: 23vw;
}
.grilla .mainProyectos .seccionProyectoTexto .card .cardInfo p {
  color: #1f242d;
  font-size: 1.1rem;
  font-weight: 500;
}
.grilla .mainProyectos .seccionProyectoTexto .card .cardInfo a {
  background-color: #0ef;
  color: #1f242d;
  font-size: 1.1rem;
  font-weight: 500;
  border-color: #1f242d;
}
.grilla .mainProyectos .seccionProyectoTexto .card .cardInfo a:hover {
  border-color: #0ef;
  transition: 0.5s ease;
}

.grilla .mainServicios {
  grid-area: main;
  display: flex;
  justify-content: center;
  align-items: center;
}
.grilla .mainServicios .seccionServicios {
  padding: 0 8% 0 8%;
}
.grilla .mainServicios .seccionServicios .contenedorServicios {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 3rem;
}
.grilla .mainServicios .seccionServicios .contenedorServicios .cajaServicios {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #323946;
  width: 100%;
  height: auto;
  padding: 4%;
  border-radius: 2rem;
  text-align: center;
  border: 0.2rem solid #1f242d;
  transition: 0.5s ease;
}
.grilla .mainServicios .seccionServicios .contenedorServicios .cajaServicios:hover {
  border-color: #0ef;
  transform: scale(1.02);
}
.grilla .mainServicios .seccionServicios .contenedorServicios .cajaServicios .icono {
  font-size: 3.5rem;
  color: #0ef;
}
.grilla .mainServicios .seccionServicios .contenedorServicios .cajaServicios h1,
.grilla .mainServicios .seccionServicios .contenedorServicios .cajaServicios h2,
.grilla .mainServicios .seccionServicios .contenedorServicios .cajaServicios h3 {
  font-size: 2rem;
  color: #fff;
}
.grilla .mainServicios .seccionServicios .contenedorServicios .cajaServicios p {
  font-size: 1.2rem;
  padding: 2% 2% 3%;
  color: #fff;
}
.grilla .mainContacto {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: main;
}
.grilla .mainContacto .seccionContactoTexto {
  width: 95%;
}
.grilla .mainContacto .seccionContactoTexto .contactoContenedor {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  width: 100%;
}
.grilla .mainContacto .seccionContactoTexto .contactoContenedor .contactoTexto {
  width: 70%;
  text-align: center;
}
.grilla .mainContacto .seccionContactoTexto .contactoContenedor .contactoTexto h1 {
  font-size: 3.5rem;
  font-weight: bold;
  color: #0ef;
  margin-bottom: 20px;
}
.grilla .mainContacto .seccionContactoTexto .contactoContenedor .contactoTexto p {
  font-size: 1.4rem;
  font-weight: 300;
  color: #fff;
}
.grilla .mainContacto .seccionContactoTexto .contactoContenedor .contenidoFormulario {
  width: 26vw;
  background-color: #fff;
  border-radius: 3%;
  box-shadow: 0 0 10px #fff;
}
.grilla .mainContacto .seccionContactoTexto .contactoContenedor .contenidoFormulario form {
  margin: 3%;
}
.grilla .mainContacto .seccionContactoTexto .contactoContenedor .contenidoFormulario form .formTipo {
  margin-bottom: 2%;
}
.grilla .mainContacto .seccionContactoTexto .contactoContenedor .contenidoFormulario form .formTipo label {
  display: block;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 1%;
}
.grilla .mainContacto .seccionContactoTexto .contactoContenedor .contenidoFormulario form .formTipo input,
.grilla .mainContacto .seccionContactoTexto .contactoContenedor .contenidoFormulario form .formTipo textarea {
  width: 100%;
  padding: 2.5%;
  border: 1px solid #ccc;
  border-radius: 10px;
}
.grilla .mainContacto .seccionContactoTexto .contactoContenedor .contenidoFormulario form .botonEnviar {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #0ef;
  color: #1f242d;
  font-size: 1.1rem;
  font-weight: 500;
  border-color: #1f242d;
  border-radius: 5px;
}
.grilla .mainContacto .seccionContactoTexto .contactoContenedor .contenidoFormulario form .botonEnviar:hover {
  border-color: #0ef;
  transition: 0.5s ease;
}

.grilla footer {
  grid-area: footer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
  background-color: transparent;
}
.grilla footer .redeSociales {
  display: flex;
  justify-content: center;
  width: 30%;
  column-gap: 5%;
}
.grilla footer .redeSociales a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2em;
  height: 2em;
  background: transparent;
  border: 1px solid #0ef;
  border-radius: 50%;
  font-size: 25px;
  color: #0ef;
  text-decoration: none;
  transition: 0.5s ease;
}
.grilla footer .redeSociales a:hover {
  background: #0ef;
  color: #1f242d;
  box-shadow: 0 0 20px #0ef;
}

/* Media Query para Portatiles L */
@media (max-width: 1200px) {
  html {
    font-size: 90%;
  }
  .grilla .main-index .seccionInicioTexto .inicioContenedor .imgPrincipal img {
    width: 27vw;
  }
  .grilla .mainProyectos .seccionProyectoTexto .card {
    width: 26vw;
    height: 55vh;
  }
  .grilla footer .redeSociales {
    width: 40%;
  }
}
/* Media Query para Portatiles */
@media (max-width: 1024px) {
  .grilla .main-index .seccionInicioTexto .inicioContenedor .inicioTexto h1 {
    font-size: 2.6rem;
    font-weight: 700;
  }
  .grilla .main-index .seccionInicioTexto .inicioContenedor .inicioTexto h2 {
    font-size: 2.4rem;
    font-weight: 700;
    margin: 1% 0 1% 0;
  }
  .grilla .main-index .seccionInicioTexto .inicioContenedor .inicioTexto h3 {
    font-size: 2.6rem;
    font-weight: 700;
  }
  .grilla .main-index .seccionInicioTexto .inicioContenedor .inicioTexto div .botonCV {
    padding: 14px 24px;
  }
  .grilla .main-index .seccionInicioTexto .inicioContenedor .imgPrincipal img {
    width: 30vw;
  }
  .grilla .mainAcercaDe .contenedorGrillaAcerca .seccionInfoPersonal {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    row-gap: 5%;
  }
  .grilla .mainAcercaDe .contenedorGrillaAcerca .seccionInfoPersonal .acercaDeTexto {
    text-align: center;
  }
  .grilla .mainAcercaDe .contenedorGrillaAcerca .seccionInfoPersonal .contenedorImg {
    padding: 0;
  }
  .grilla .mainAcercaDe .contenedorGrillaAcerca .seccionAcercaHerramientas .contenedorHerramientas .contenedorCards .cards {
    justify-content: center;
    flex-wrap: wrap;
  }
  .grilla .mainProyectos .seccionProyectoTexto {
    grid-template-columns: repeat(2, 1fr);
  }
  .grilla .mainProyectos .seccionProyectoTexto .card {
    width: 33vw;
  }
  .grilla .mainServicios {
    padding: 4% 0 4% 0;
  }
  .grilla .mainServicios .seccionServicios .contenedorServicios {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 2rem;
  }
  .grilla .mainServicios .seccionServicios .contenedorServicios .cajaServicios {
    width: 37vw;
  }
  .grilla .mainServicios .seccionServicios .contenedorServicios .cajaServicios:nth-child(3) {
    grid-column: span 2;
    justify-self: center;
  }
  .grilla .mainServicios .seccionServicios .contenedorServicios .cajaServicios .boton {
    padding: 2% 5%;
  }
  .grilla .mainContacto .seccionContactoTexto .contactoContenedor .contactoTexto {
    width: 90%;
  }
  .grilla .mainContacto .seccionContactoTexto .contactoContenedor .contenidoFormulario {
    width: 35vw;
  }
  .grilla footer .redeSociales {
    width: 100%;
  }
}
/* Media Query para encabezado estilo hamburguesa */
@media (max-width: 991px) {
  .grilla header .navbar .container .menu {
    position: absolute;
    background: #1f242d;
    width: 100%;
    top: 90px;
    z-index: 1;
  }
}
/* Media Query para Tablets */
@media (max-width: 768px) {
  .grilla {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  .grilla header {
    height: 171.8px;
  }
  .grilla .main-index {
    padding: 1rem;
  }
  .grilla .main-index .seccionInicioTexto {
    padding: 0 4% 0 4%;
  }
  .grilla .main-index .seccionInicioTexto .inicioContenedor {
    grid-template-columns: 1fr;
  }
  .grilla .main-index .seccionInicioTexto .inicioContenedor .inicioTexto {
    width: 100%;
    text-align: center;
  }
  .grilla .main-index .seccionInicioTexto .inicioContenedor .inicioTexto h1 {
    font-size: 3rem;
  }
  .grilla .main-index .seccionInicioTexto .inicioContenedor .inicioTexto h2 {
    font-size: 2.8rem;
  }
  .grilla .main-index .seccionInicioTexto .inicioContenedor .inicioTexto h3 {
    font-size: 3rem;
  }
  .grilla .main-index .seccionInicioTexto .inicioContenedor .inicioTexto p {
    font-size: 1.3rem;
  }
  .grilla .main-index .seccionInicioTexto .inicioContenedor .inicioTexto div .botonCV {
    padding: 18px 28px;
    font-size: 18px;
  }
  .grilla .main-index .seccionInicioTexto .inicioContenedor .inicioTexto div .botonCV:hover {
    background: #0ef;
    color: #1f242d;
    border: none;
  }
  .grilla .main-index .seccionInicioTexto .inicioContenedor .imgPrincipal {
    padding: 70px 0;
  }
  .grilla .main-index .seccionInicioTexto .inicioContenedor .imgPrincipal img {
    width: 50vw;
    height: auto;
  }
  .grilla .mainAcercaDe .contenedorGrillaAcerca .seccionInfoPersonal {
    padding: 0 5% 0 5%;
  }
  .grilla .mainAcercaDe .contenedorGrillaAcerca .seccionInfoPersonal .contenedorImg {
    padding-top: 20px;
  }
  .grilla .mainAcercaDe .contenedorGrillaAcerca .seccionInfoPersonal .contenedorImg img {
    width: 18em;
    height: auto;
  }
  .grilla .mainAcercaDe .contenedorGrillaAcerca .seccionAcercaHerramientas {
    text-align: center;
  }
  .grilla .mainAcercaDe .contenedorGrillaAcerca .seccionAcercaHerramientas .contenedorHerramientas .divBoton {
    display: flex;
    justify-content: center;
  }
  .grilla .mainProyectos .seccionProyectoTexto {
    grid-template-columns: 1fr;
  }
  .grilla .mainProyectos .seccionProyectoTexto .card {
    width: 70vw;
    height: 70vh;
  }
  .grilla .mainProyectos .seccionProyectoTexto .card img {
    width: 100%;
    height: auto;
  }
  .grilla .mainServicios {
    padding: 0 0 6% 0;
    width: 100%;
  }
  .grilla .mainServicios .seccionServicios {
    padding: 0%;
  }
  .grilla .mainServicios .seccionServicios .contenedorServicios {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
  }
  .grilla .mainServicios .seccionServicios .contenedorServicios .cajaServicios {
    width: 90vw;
  }
  .grilla .mainServicios .seccionServicios .contenedorServicios .cajaServicios:nth-child(3) {
    grid-column: auto;
  }
  .grilla .mainContacto {
    padding: 1rem;
  }
  .grilla .mainContacto .seccionContactoTexto .contactoContenedor {
    grid-template-columns: 1fr;
  }
  .grilla .mainContacto .seccionContactoTexto .contactoContenedor .contactoTexto {
    width: 90%;
  }
  .grilla .mainContacto .seccionContactoTexto .contactoContenedor .contactoTexto h1 {
    font-size: 2.5em;
  }
  .grilla .mainContacto .seccionContactoTexto .contactoContenedor .contenidoFormulario {
    margin: 30px 0;
    width: 70vw;
  }
  .grilla footer .redeSociales {
    width: 100%;
  }
}
/* Media Query para Moviles L */
@media (max-width: 425px) {
  .grilla .main-index .seccionInicioTexto {
    padding: 0 4% 0 4%;
  }
  .grilla .main-index .seccionInicioTexto .inicioContenedor .inicioTexto h1 {
    font-size: 2.4rem;
  }
  .grilla .main-index .seccionInicioTexto .inicioContenedor .inicioTexto h2 {
    font-size: 2.2rem;
  }
  .grilla .main-index .seccionInicioTexto .inicioContenedor .inicioTexto h3 {
    font-size: 2.4rem;
  }
  .grilla .main-index .seccionInicioTexto .inicioContenedor .inicioTexto p {
    font-size: 1.2rem;
  }
  .grilla .main-index .seccionInicioTexto .inicioContenedor .inicioTexto div .botonCV {
    padding: 14px 24px;
  }
  .grilla .main-index .seccionInicioTexto .inicioContenedor .imgPrincipal img {
    width: 70vw;
    height: auto;
  }
  .grilla .mainAcercaDe .contenedorGrillaAcerca .seccionInfoPersonal {
    grid-template-rows: 72% 28%;
    gap: 0;
  }
  .grilla .mainAcercaDe .contenedorGrillaAcerca .seccionInfoPersonal .contenedorImg {
    padding: 10% 0 10% 0;
  }
  .grilla .mainAcercaDe .contenedorGrillaAcerca .seccionInfoPersonal .contenedorImg img {
    width: 15em;
  }
}
/* Media Query para Moviles S */
@media (max-width: 320px) {
  .grilla header {
    padding: 0 5%;
  }
  .grilla .mainProyectos .seccionProyectoTexto {
    padding: 5%;
  }
  .grilla .mainProyectos .seccionProyectoTexto .card {
    width: 80vw;
    height: 60vh;
  }
  .grilla .mainProyectos .seccionProyectoTexto .card img {
    width: 100%;
    height: auto;
  }
}

/*# sourceMappingURL=main.css.map */
