.grilla {
    .main-index {
        display: flex;
        justify-content: center;
        align-items: center;
        grid-area: main;

        .seccionInicioTexto {
            color: #fff;
            width: 95%;

            .inicioContenedor {
                display: grid;
                justify-items: center;
                align-items: center;
                grid-template-columns: 55% 45%;
                grid-template-rows: 1fr;
                width: 100%;

                .inicioTexto {
                    width: 75%;

                    h1 {
                        font-size: 2rem;
                        font-weight: 700;
                    }

                    h2 {
                        font-size: 2.9rem;
                        font-weight: 700;
                        margin: 1% 0 1% 0;
                    }

                    h3 {
                        font-size: 2rem;
                        font-weight: 700;

                        span {
                            color: #0ef;
                        }
                    }

                    p {
                        margin: 3% 0 3% 0;
                        font-size: 1.1rem;
                    }

                    div {

                        .botonCV {
                            display: inline-block;
                            padding: 2% 3%;
                            background: #0ef;
                            color: #1f242d;
                            border-radius: 40px;
                            box-shadow: 0 0 10px #0ef;
                            font-size: 1rem;
                            text-decoration: none;
                            font-weight: 600;
                            letter-spacing: 1px;
                            border: none;

                            &:hover {
                                background: #0ef;
                                color: #1f242d;
                                border: none;
                            }
                        }
                    }
                }

                .imgPrincipal {
                    display: flex;
                    justify-content: center;

                    img {
                        width: 25vw;
                    }
                }
            }
        }
    }
}