@media(max-width: 1200px) {

    html{
        font-size: 90%;
    }

    .grilla .mainServicios {


        .seccionServicios {

            .contenedorServicios {


                .cajaServicios {

                    &:hover {}

                    .icono {}

                    h1,
                    h2,
                    h3 {}

                    p {}

                    .boton {}
                }
            }
        }
    }


    .grilla .mainProyectos {

        .seccionProyectoTexto {

            .card {
                width: 26vw;
                height: 55vh;
            }
        }
    }
}


@media (max-width: 1024px) {



    .grilla .main-index {
        .seccionInicioTexto {
            .inicioContenedor {
                .inicioTexto {
                    width: 87%;
                }

                .imgPrincipal {
                    img {
                        width: 35vw;
                    }
                }
            }
        }
    }


    .grilla .mainAcercaDe {
        .contenedorGrillaAcerca {
            .seccionInfoPersonal {
                grid-template-columns: 1fr;
                grid-template-rows: repeat(2, 1fr);
                row-gap: 5%;

                .acercaDeTexto {
                    text-align: center;

                    h1 {}

                    p {}
                }

                .contenedorImg {
                    padding: 0;

                    img {}
                }
            }

            .seccionAcercaHerramientas {
                .acercadeHerramientas {
                    h2 {}

                    p {}
                }

                .contenedorHerramientas {
                    .divBoton {

                        .botonDesplegable {
                            .iconoBoton {}
                        }
                    }

                    .contenedorCards {

                        .cards {
                            justify-content: center;
                            flex-wrap: wrap;
                        }
                    }
                }
            }
        }

    }


    .grilla .mainProyectos {

        .seccionProyectoTexto {
            grid-template-columns: repeat(2, 1fr);

            .card {
                width: 33vw;
            }
        }
    }



    .grilla {
        .mainServicios {
            padding: 4% 0 4% 0;

            .seccionServicios {

                .contenedorServicios {
                    grid-template-columns: 1fr 1fr;
                    grid-template-rows: auto auto;
                    gap: 2rem;

                    .cajaServicios {
                        width: 37vw;

                        &:nth-child(3) {
                            grid-column: span 2;
                            justify-self: center;
                        }

                        &:hover {}

                        .icono {}

                        h1,
                        h2,
                        h3 {}

                        p {}

                        .boton {
                            padding: 2% 5%;
                        }
                    }
                }
            }
        }
    }





    .grilla .mainContacto {

        .seccionContactoTexto {

            .contactoContenedor {

                .contactoTexto {
                    width: 90%;

                    h1 {}

                    p {}
                }

                .contenidoFormulario {
                    width: 35vw;

                    form {

                        .formTipo {

                            label {}

                            input,
                            textarea {}
                        }

                        .botonEnviar {}
                    }
                }
            }

        }
    }
}


@media(max-width: 991px) {
    .grilla header {
        .navbar {
            .container {
                .menu {
                    position: absolute;
                    background: #1f242d;
                    width: 100%;
                    top: 90px;
                    z-index: 1;
                }
            }
        }
    }
}


/* Media Query para dispositivos móviles */
@media (max-width: 768px) {
    .grilla {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    .grilla header {
        height: 171.8px;
    }

    .grilla .main-index {
        padding: 1rem;

        .seccionInicioTexto {
            .inicioContenedor {
                grid-template-columns: 1fr;

                .inicioTexto {
                    width: 100%;
                    text-align: center;
                }

                .imgPrincipal {
                    padding: 30px 0;

                    img {
                        width: 100%;
                        height: auto;
                    }
                }
            }
        }
    }



    .grilla .mainAcercaDe {
        .contenedorGrillaAcerca {
            .seccionInfoPersonal {

                padding: 0 5% 0 5%;

                .acercaDeTexto {


                    h1 {}

                    p {}
                }

                .contenedorImg {
                    padding-top: 20px;

                    img {
                        width: 18em;
                        height: auto;
                    }
                }
            }

            .seccionAcercaHerramientas {
                text-align: center;

                .acercadeHerramientas {
                    h2 {}

                    p {}
                }

                .contenedorHerramientas {
                    .divBoton {
                        display: flex;
                        justify-content: center;

                        .botonDesplegable {
                            .iconoBoton {}
                        }
                    }

                    .contenedorCards {

                        .cards {}
                    }
                }
            }
        }

    }


    .grilla .mainProyectos {

        .seccionProyectoTexto {
            grid-template-columns: 1fr;

            .card {
                width: 70vw;
                height: 70vh;

                img {
                    width: 100%;
                    height: auto;
                }
            }
        }
    }

    .grilla {
        .mainServicios {
            padding: 0 0 6% 0;
            width: 100%;

            .seccionServicios {
                
                padding: 0%;
                .contenedorServicios {
                    grid-template-columns: 1fr;
                    grid-template-rows: repeat(3, 1fr);

                    .cajaServicios {
                        width: 90vw;
                        
                        &:nth-child(3) {
                            grid-column: auto;
                        }

                        &:hover {}

                        .icono {}

                        h1,
                        h2,
                        h3 {}

                        p {}

                        .boton {
                        
                        }
                    }
                }
            }
        }
    }



    .grilla .mainContacto {
        padding: 1rem;

        .seccionContactoTexto {

            .contactoContenedor {
                grid-template-columns: 1fr;

                .contactoTexto {
                    width: 90%;

                    h1 {
                        font-size: 2.5em;
                    }

                    p {}
                }

                .contenidoFormulario {
                    margin: 30px 0;
                    width: 70vw;

                    form {

                        .formTipo {

                            label {}

                            input,
                            textarea {}
                        }

                        .botonEnviar {}
                    }
                }
            }

        }
    }

    .grilla footer {

        .redeSociales {
            width: 100%;
        }
    }
}


@media(max-width: 450px) {
    .grilla .mainAcercaDe {

        .contenedorGrillaAcerca {
            .seccionInfoPersonal {
                grid-template-rows: 72% 28%;
                gap: 0;


                .acercaDeTexto {


                    h1 {}

                    p {}
                }

                .contenedorImg {
                    padding: 10% 0 10% 0;

                    img {
                        width: 15em;
                    }
                }
            }

            .seccionAcercaHerramientas {

                .acercadeHerramientas {
                    h2 {}

                    p {}
                }

                .contenedorHerramientas {
                    .divBoton {

                        .botonDesplegable {
                            .iconoBoton {}
                        }
                    }

                    .contenedorCards {

                        .cards {}
                    }
                }
            }
        }

    }
}

@media (max-width: 320px) {
    .grilla header {
        padding: 0 5%;
    }

    .grilla .mainProyectos {

        .seccionProyectoTexto {
            padding: 5%;

            .card {
                width: 80vw;
                height: 60vh;

                img {
                    width: 100%;
                    height: auto;
                }
            }
        }
    }


}