// Variables
$colorResaltador: #0ef;

// Listas
$colores:
#1f242d, // Color Principal
#fff, // Color Secundario
#0ef; // Color Resaltador

// Maps
$botonPrimario: (
    bgPrimario: #0ef,
    text-primario: #1f242d,

);