.grilla footer{
    grid-area: footer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
    background-color: #1f242d;
    .redeSociales{
        display: flex;
        justify-content: center;
        width: 30%;
        column-gap: 5%;
        a{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 2em;
            height: 2em;
            background: transparent;
            border: 1px solid #0ef;
            border-radius: 50%;
            font-size: 1.5rem;
            color: #0ef;
            text-decoration: none;
            transition: .5s ease;
            &:hover{
                background: #0ef;
                color: #1f242d;
                box-shadow: 0 0 20px #0ef;
            }
        }
    }
}